.faq_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question{
    font-family: 'Sharp Sans No1 Semibold' !important;
  color: #06395B;
  font-weight: 600;
  font-size: 17px;

}

.answer{
    font-family: 'Sharp Sans No1 Semibold' !important;
  color: #06395B;
  font-size: 14px;

}

.faq_box{
    min-height: 0px;
  height: auto;
  transition-duration: 313ms;
  overflow: visible;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.faq_section{
    height: 250px;
    overflow-y: auto;
    margin-top: 10px;
}

.securityInfo {
  margin-top: 2rem;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

.safe_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.safe_text{
  margin: 0px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-family: "Default Semibold";
  font-weight: 600;
  color: rgb(117, 117, 117);
  font-size: 12px;
  width: fit-content;
  font-weight: 400 !important;
}

.dot{
  color:rgb(117, 117, 117);
}

.safe_icon{
  font-family: Default Semibold !important;
}