.email-icon{
    user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.5rem;
  margin-right: 1rem;
  color: rgb(68, 142, 204);
}

.email_box{
   
  font-family: "Default Medium";
  color: rgba(0, 0, 0, 0.87);
  /* display: flex;
  -moz-box-align: center; */
  align-items: center;
}

.email_link{
    color: rgb(238, 37, 37);
    font-size: 1.1rem;
    line-height: 1.5;
  letter-spacing: 0.00938em;
  font-family: "Default Medium";
  font-weight: 400 !important;
  text-decoration: underline;
}

.privacy{
    color: rgb(238, 37, 37);
    font-family: Default Medium;
  line-height: 1rem;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  font-weight: 400 !important;
  text-decoration: underline;
  cursor: pointer;
}

.modal-footer{
    justify-content: center !important;

}

.modal-content{
    width: 70%;
    
}

@media screen and  (max-width:471px){
  .modal-content{
    width: 100%;
  }
}
.modal-dialog{
    display: flex;
    justify-content: center;
}
.pop-version {
    text-align: center;
    margin-top: 1.2rem;

    line-height: 1.5;
  letter-spacing: 0.00938em;
  font-family: "Default Medium";
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 0.85rem;
   }