.pay_text{
    letter-spacing: .01071em;
  line-height: 1.43;
  font-family: Default Semibold !important;
  font-weight: 500 !important;
  margin-left: 4px;
  font-size: 1rem;
}

.pay_card{
   
  color:rgb(6, 57, 91);
}

.payment_divider {
    /* border: 2px solid #000080 !important; */
    opacity: 0.9 !important;
    width: 100% !important;
    margin: 0 auto !important;
    border: 1px solid rgb(238, 37, 37);

  }

/* *{
    background-color: #fff;
} */


.proceedButton:hover {
    

    text-decoration: none;
  background-color: rgb(166, 25, 25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  }

  .proceedButton{
    display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(255, 255, 255);
  background-color: rgb(238, 37, 37);
  
  /* background-color: #007bff;
    color: white; */
  text-transform: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit !important;
  border: medium;
  padding: 0.43rem;
  border-radius: 5px;
  width: 100%;
  }

  .card_text{
    font-size: 14px;
  line-height: 24px;
   font-family: Default Semibold !important;
   }

   .error_text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.pay-card{
  max-width: 70% !important;
}