.paymentBtn:hover {
    

    text-decoration: none;
  background-color: rgb(166, 25, 25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  }

  .paymentBtn{
    display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(255, 255, 255);
  background-color: rgb(238, 37, 37);
  
  /* background-color: #007bff;
    color: white; */
  text-transform: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit !important;
  border: medium;
  padding: 0.43rem;
  border-radius: 5px;
  width: 100%;
  }

  .payment_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info_box{
    display: flex;
  -moz-box-align: center;
  align-items: center;
  background: rgb(253, 240, 227);
  color: rgb(174, 87, 0);
  padding: 8px 12px;
  border: 0.5px solid rgb(250, 226, 199);
  border-radius: 6px;
  margin: 0px auto 0.5rem;
  text-align: left;
  gap:5px;
  }

  .paymentBtn_disabled{
    color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none;
  cursor: default;

  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* color: rgb(255, 255, 255);
  background-color: rgb(238, 37, 37); */
  text-transform: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit !important;
  border: medium;
  padding: 0.43rem;
  border-radius: 5px;
  width: 100%;
  }

  .footer{
    position: sticky;
    bottom: 0;
    z-index: 100;
  }